<fieldset class="box"><legend><%= toggle_checkboxes_link("#custom_field_project_ids input[type=checkbox]:enabled") %><a class="status_1" onclick='cycleVisibility(this, [["<%= l(:label_all) %>","<%= l(:project_status_active_plural) %>","<%= l(:project_status_closed_plural) %>","<%= l(:project_status_archived_plural) %>"],["status_0", "status_1", "status_5", "status_9"]]);'><%= l(:label_project_plural) %> (<span><%= l(:project_status_active_plural) %></span>)</a></legend>
  <p><%= f.check_box :is_for_all, :data => {:disables => '#custom_field_project_ids input'} %></p>

  <div id="custom_field_project_ids">
    <% project_ids = @custom_field.project_ids.to_a %>
    <%= render_project_nested_lists(Project.all) do |p|
      content_tag('label', check_box_tag('custom_field[project_ids][]', p.id, project_ids.include?(p.id), :id => nil) + ' ' + p)
    end %>
    <%= hidden_field_tag('custom_field[project_ids][]', '', :id => nil) %>
  </div>
</fieldset>
