<%= title [l(:label_workflow), edit_workflows_path], l(:field_summary) %>

<% if @roles.empty? || @trackers.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
  <p><label><%=l(:label_workspace)%>:
    <select id="workspace_id" class="expandable" onchange="location.href=location.href.split('?')[0] + '?workspace_id=' + this.options[this.selectedIndex].value;">
      <%= options_for_select(@workspaces.pluck(:name, :id), @workspace.id) %>
    </select>
  </label></p>
  <div class="autoscroll ws">
    <%= render :partial => 'index_table' %>
  </div>
<% end %>
