<% unless @tracker.new_record? %>
  <% flows = WorkflowRule.where(tracker_id: @tracker.id).map{|w| [w.role_id, w.tracker_id, w.workspace_id]}.uniq %>
  <% if flows.count > 0 %>
    <% workspaces = Workspace.pluck(:id, :name).to_h %>
    <% roles = Role.pluck(:id, :name).to_h %>
    <% trackers = Tracker.pluck(:id, :name).to_h %>
    <% used = [] %>
    <% @tracker.projects.map{|p| p.members.
         map{|m| m.roles.pluck(:name)}.flatten.uniq.
         map{|r| used |= [[r, p.workspace.name]]}}
    %>
  <div id="workflows_dialog" style="display:none;">
      <fieldset class="box">
        <legend><%= l(:label_workflow_plural) %></legend>
        <i><span style="width: 220px; display: inline-block;"><%= l(:label_role) %></span><span style="width: 220px; display: inline-block;"><%= l(:label_workspace) %></span></i><br>
        <% flows.sort.each do |x| %>
        <% color = used.include?([roles[x[0]],workspaces[x[2]]]) ? "" : " color: darkred;" %>
        <%= link_to raw('<span style="width: 220px; display: inline-block;' + color + '">'"#{roles[x[0]]}"'</span><span style="width: 220px; display: inline-block;' + color + '">'"#{workspaces[x[2]]}"'</span>'),
              workflows_edit_path(:role_id => x[0], :tracker_id => x[1], :workspace_id => x[2], :used_role_statuses_only => true, :used_statuses_only => true, :used_workspaces_only => true) %><br>
        <% end %>
      </fieldset>
    </div>
  <% end %>
  <% projects = Project.select{|p| p.trackers.include?(@tracker)} %>
  <% if projects.present? %>
    <div id="projects_dialog" style="display:none;">
      <fieldset class="box" id="tracker_project_ids">
        <legend><a class="status_1" onclick='cycleVisibility(this, [["<%= l(:label_all) %>","<%= l(:project_status_active_plural) %>","<%= l(:project_status_closed_plural) %>","<%= l(:project_status_archived_plural) %>"],["status_0", "status_1", "status_5", "status_9"]]);'><%= l(:label_project_plural) %> (<span><%= l(:project_status_active_plural) %></span>)</a></legend>
        <%= render_project_nested_lists(projects) do |p|
          link_to(p.name, project_path(p))
        end %>
      </fieldset>
    </div>
  <% end %>
<% end %>

<div class="contextual">
  <%= content_tag "a", l(:label_project_plural), {
      :onclick => "showModal('projects_dialog', '600px', '#{l(:label_tracker_plural)} » #{@tracker.name}')",
      :style => "cursor: pointer;",
      :class => "icon icon-projects"
    } if projects.present? %>
  <%= content_tag "a", l(:label_workflow_plural), {
      :onclick => "showModal('workflows_dialog', '600px', '#{l(:label_tracker_plural)} » #{@tracker.name}')",
      :style => "cursor: pointer;",
      :class => "icon icon-workflows"
    } if flows.present? %>
</div>
